[2018-05-22 01:17] mtmorgan opened #1 "Continuous Integration"
@LiNk-NY I think [this line][1] should be like the example in index.Rmd, where the first argument is the name of the Rmd file in the git commit that triggers the build, and where the third argument is TRUE -- this will then just build the workshop that is being committed, rather than the entire collection of workshops; building the entire collection will become expensive.

[1]: https://github.com/

[2018-05-22 13:08] LiNk-NY commented on #1
Travis will cache the `docs` and associated [files](https://github.com/Bioconductor/BiocWorkshops/blob/master/.travis.yml#L11).
I can also add a `_common.R` file so that I make sure that all the chunks are being cached.
Otherwise, this line would have to change with every pull request.

[2018-06-11 15:19] PeteHaitch opened #2 "Please add me as a collaborator"
For submitting my workshop for BioC2018.
Thanks!

[2018-06-11 15:41] #2 closed

[2018-06-12 21:21] sa-lee opened #3 "Please add me as a collaborator"
Thanks,
Stuart

[2018-06-12 21:30] #3 closed

[2018-06-24 19:49] lgeistlinger opened #4 "New collaborator for workshop: functional enrichment analysis (Geistlinger)"
Please add me as a collaborator for the workshop _Functional enrichment analysis of high-throughput omics data_. Thanks!

[2018-06-24 20:32] LiNk-NY commented on #4
Added!

[2018-06-24 20:32] #4 closed

[2018-06-25 10:17] lgeistlinger opened #5 "Where and how to classify workshops within the respective RMD file?"
Quoting from the `README`:

- _Use (200-series chapters) contains workshops emphasizing use of Bioconductor for common tasks_
- _Follow the numbering scheme for classifying your workshop_

Where and how am I supposed to annotate that within my RMD file?

Within the header or as a subheading?

[2018-06-25 10:18] lwaldron opened #6 "please add me as a collaborator"
thanks!

[2018-06-25 15:54] mikelove opened #7 "Please add me as collaborator"

[2018-06-25 16:07] LiNk-NY commented on #7
Added!

[2018-06-25 16:07] #7 closed

[2018-06-25 16:08] LiNk-NY commented on #6
Done!

[2018-06-25 16:08] #6 closed

[2018-06-26 19:20] LiNk-NY commented on #5
Yes, there are a couple of ways to go about this. One is to imply the order via the `Rmd` file names (as above) and the other is to explicitly state the order via the `_bookdown.yml` file.

The organization can be done after or during workshop submission.
The `_bookdown.yml` file should look something like:

[code]

Regards,
Marcel

[2018-06-26 19:34] mikelove opened #8 "Citations"
It looks like we can maintain separate bib files, and list them all together when merging Rmd.

https://bookdown.org/yihui/bookdown/citations.html

Does this sound correct?

I would then maintain something like `201_Love_DESeq2.bib` and I could have a dummy `tmp/index.Rmd` to store the bibliography-specifying chunk of YAML while I'm working?

[2018-06-27 16:00] LiNk-NY commented on #8
Hi Mike, @mikelove
Yes, we should keep the `.bib` files separate.
It would then be easier to merge all `.bib` files at a later point if need be.
-MR

[2018-06-28 13:35] drisso opened #10 "Please add me as collaborator"

[2018-06-28 14:00] risserlin opened #11 "Please add me as a collaborator"
risserlin

[2018-06-28 14:15] mtmorgan commented on #10
invited

[2018-06-28 14:15] #10 closed

[2018-06-28 14:15] mtmorgan commented on #11
invited

[2018-06-28 14:15] #11 closed

[2018-06-28 16:27] drisso opened #12 "Use of png images"
Hi,

in last year's workshop, we started our Rmd file with a schema of a typical single-cell workflow, which we included simply by using

[code]

That means including a (small) png file to the repository. Is that OK, or is it discouraged?

[2018-06-28 16:33] risserlin commented on #12
I have the same question.  Would it be ok to add a directory called images and put all my images in it?

[2018-06-28 16:35] mtmorgan commented on #12
Without knowing the technical details, I think there should be structure so each workshop is acting +/- independently of the other, e.g., a folder rather than top-level Rmd file for each workshop. That way one can at least associate images & other resources with workshops, and one knows who to contact if things get out of hand...

[2018-06-28 17:05] sa-lee commented on #12
I'm also interested in this - @mtmorgan is what you're suggesting to go for something like:
[code]
and set the fig.path option in the Rmd file?

[2018-06-28 17:19] mtmorgan commented on #12
@sa-lee yep exactly

[2018-06-28 17:35] LiNk-NY commented on #12
I don't think this current structure is supported for `bookdown`. See here: rstudio/bookdown#107
It seems like all `Rmd` files should be in the root folder and data / image files etc. could be in a folder.

Alternative:
[code]

[2018-06-29 15:00] PeteHaitch opened #13 "Including non-package example data"
I've a small (3 kb) HDF5 file I'd like to include as part of my workshop.
Is this permitted?
If so, should I follow something like https://github.com/Bioconductor/BiocWorkshops/issues/12#issuecomment-401114526?

[2018-06-29 17:10] npcooley opened #14 "Added as collaborator for workshop"
Hi,

I'm following the instructions to be added as a collaborator for my workshop.

[2018-06-29 18:55] mtmorgan commented on #14
invited.

[2018-06-29 18:55] #14 closed

[2018-06-29 21:38] zhaleh-safikhani opened #15 "Please add me as a collaborator."

[2018-06-30 01:17] lawremi opened #16 "Including data from a non-Bioc package"
I have data from a previous tutorial in a package available through GitHub but not Bioc. Can we somehow integrate that using devtools or something?

[2018-06-30 02:42] Simon-Coetzee opened #17 "Please add me as a collaborator"
Thank you

[2018-06-30 15:05] lwaldron commented on #16
Do you mean having a "lawremi/myrepo" import? I don't see why not, but @lshep is building the conference AMIs and would know better than me. There have been GitHub dependencies for workshops in the past.

[2018-06-30 15:06] lwaldron commented on #17
done

[2018-06-30 15:06] #17 closed

[2018-06-30 15:07] lwaldron commented on #15
done

[2018-06-30 15:07] #15 closed

[2018-06-30 15:11] lwaldron commented on #13
As long as Bookdown can build it, I don't see any reason why not. I am inclined to put >~10MB data files elsewhere, but for smaller files it seems convenient to put them here in a subdirectory like Issue #12 .

[2018-07-01 13:35] lshep commented on #16
Yes adding github package dependencies shouldn't be an issue for us on the AMI.  I don't know how well that plays with Bookdown if there are examples in the bookdown document that would use it?

[2018-07-02 17:04] LiNk-NY commented on #16
Hi Lori, @lshep
We'd add these dependencies in the `.travis.yml` and `DESCRIPTION` files.
In the `.travis.yml` there is a section for `r_github_packages`. Repos can be added there.

[2018-07-02 17:29] drisso commented on #16
You may also need to add a `Remotes:` section in the DESCRIPTION file. See e.g., our workshop tutorial from last year (when slingshot was not yet in Bioconductor):
https://github.com/fperraudeau/bioc2017singlecell/blob/master/DESCRIPTION

[2018-07-02 17:34] lshep commented on #16
@drisso I believe this is exactly the case for the new r_github_packages @LiNk-NY just mentioned

[2018-07-02 17:42] lshep commented on #16
probably a good idea @LiNk-NY do you agree this is needed in the DESCRIPTION too?

[2018-07-02 18:48] LiNk-NY commented on #16
Yes, I guess it wouldn't hurt and may be preferable to modifying the `.travis.yml` file. :+1:

[2018-07-05 18:16] kstreet13 opened #18 "Please add me as a collaborator"
Thanks!

[2018-07-05 18:39] LiNk-NY commented on #18
added

[2018-07-05 18:39] #18 closed

[2018-07-06 20:37] LiNk-NY opened #19 "Incomplete or Erroring Workshops"
Dear Workshop Contributors,
@mikelove @lwaldron @PeteHaitch @risserlin
@sa-lee @drisso @zhaleh-safikhani @kstreet13
@lgeistlinger @npcooley @Simon-Coetzee @nturaga
@vobencha

A few items are still unresolved for getting a complete workshop build.

- [ ] Please check the `_bookdown.yml` file for the status of your workshop
- [ ] Make sure that you are using the appropriate file for your workshop (t

[2018-07-06 23:04] p-smirnov opened #20 "Using package hosted on github for helper code"
I wanted to follow up on the the discussion from issue #16. For the pharmacogenomics ML workshop, @zhaleh-safikhani developed a package with some helper code that does things such as running Cross Validation and plotting the ML results. The package is hosted on github at bhklab/PharmacoGxML. We don't have plans to make this package available on BioC, since its just the helper functions for the wor

[2018-07-07 12:45] lwaldron commented on #20
Hi @p-smirnov, it's fine to depend on packages in GitHub, just include it in the Imports and Remotes fields of the DESCRIPTION like you mentioned. The Rmd markdown document here has to be self-contained only in that it has to build as part of this Bookdown project.

[2018-07-07 14:23] drisso commented on #19
Hi @LiNk-NY ,

it looks like for a couple of workshops (including ours) the problem is that `aroma.light` is failing its checks in bioc-devel and hence `biocLite` won't be able to install it. Any workaround? Or should we ask @HenrikBengtsson to fix it? :)

[2018-07-07 15:01] HenrikBengtsson commented on #19
The workaround is to install https://cran.r-project.org/src/contrib/Archive/princurve/princurve_1.1-12.tar.gz or GitHub [devel branch of princurve](https://github.com/dynverse/princurve/tree/devel).  The reason is Issue https://github.com/dynverse/princurve/issues/8.

[2018-07-07 15:23] lwaldron opened #21 "201_Love_DESeq2.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note any problems and status updates here.

[2018-07-07 15:25] lwaldron opened #22 "220_Das_SingleCellRNASeq.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

aroma.light issue, to be resolved on server side.

[2018-07-07 15:30] lwaldron opened #23 "230_Isserlin_RCy3_intro.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

ERROR: cytoscapeVersionInfo not found DUPLICATE

[2018-07-07 15:33] lwaldron opened #24 "500_Effectively_Using_the_DelayedArray_Framework.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

ERROR: can't open file @line 559

[2018-07-07 15:35] lwaldron opened #25 "Coetzee_StatePaintR.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

[2018-07-07 15:36] lwaldron commented on #25
@Simon-Coetzee please make a commit!

[2018-07-07 21:21] lwaldron commented on #20
Let's keep this discussion on #16 .

[2018-07-07 21:21] #20 closed

[2018-07-07 21:26] lwaldron opened #26 "Cooley_DECIPHER.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

Workshop is currently incomplete

[2018-07-07 21:35] lwaldron opened #27 "Geistlinger_Omics.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

affected by aroma.light installation issue, will be resolved on server side.

[2018-07-07 21:36] lwaldron commented on #27
affected by aroma.light installation issue, will be resolved on server side.

[2018-07-07 21:40] lwaldron opened #28 "230_Isserlin_RCy3_intro.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

`ERROR: cytoscapeVersionInfo not found`

[2018-07-07 21:42] lwaldron opened #29 "Law_RNAseq123.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

[2018-07-07 21:42] lwaldron opened #30 "Lawrence_GenomicRanges.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

[2018-07-07 21:44] lwaldron opened #31 "Lee_Plyranges.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

error use dplyr::filter

[2018-07-07 21:44] lwaldron opened #32 "MacDonald_Annotation.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

[2018-07-07 21:44] lwaldron opened #33 "Ramos_MultiAssayExperiment.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

[2018-07-07 21:45] lwaldron opened #34 "Safikhani_Pharmacogenomics.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

[2018-07-07 21:45] lwaldron opened #35 "Turaga_MaintainBioc.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

[2018-07-07 21:45] lwaldron opened #36 "Waldron_PublicData.Rmd"
I'm creating an issue for each workshop, to be closed when both 1) the workshop is complete, and 2) it compiles without problems. Please note problems and status updates here.

[2018-07-07 21:46] lwaldron commented on #31
error use dplyr::filter

[2018-07-07 21:52] lwaldron commented on #36
@seandavi and @bhaibeka you are invited as collaborators

[2018-07-07 21:55] lwaldron commented on #19
It looks like this devel branch of princurve was [merged into the master branch](https://github.com/dynverse/princurve/commit/a954a104dc77bb02a5dd2adf2d6d5e38d3307f3b), so I'll try just adding dynverse/princurve to the Remotes: .

[2018-07-07 22:02] lwaldron commented on #28
ERROR: cytoscapeVersionInfo not found

[2018-07-07 22:04] lwaldron commented on #25
@Simon-Coetzee please accept your collaborator invitation so I can assign this card to you.

[2018-07-07 22:14] lwaldron commented on #1
I think the real issue here is that Travis is not helping us with Continuous Integration. @LiNk-NY would you make a script on wallabe4 that builds the individual `.Rmd` files and the book, even if some chapters are interrupted by errors? If it's in `/usr/local/bin` I could help with scheduling and automatic pushes to https://bioconductor.github.io/BiocWorkshops/.

[2018-07-07 22:18] lwaldron commented on #29
Charity Law emailed me the Rmd to post on GitHub. It is the [RNAseq123](https://master.bioconductor.org/packages/release/workflows/html/RNAseq123.html) workflow concatenated to the syllabus.

[2018-07-07 22:31] lwaldron commented on #36
[- [ ] Please check the `_bookdown.yml` file for the status of your workshop\
- [ ] Make sure that you are using the appropriate file for your workshop (there should be **no duplicate** workshop files)\
- [ ] Ensure that you are modifying the `DESCRIPTION` file and your package list accordingly so that **all** dependencies are documented
]

[2018-07-07 22:32] lwaldron commented on #36
[- [ ] Please check the `_bookdown.yml` file for the status of your workshop\
- [ ] Make sure that you are using the appropriate file for your workshop (there should be **no duplicate** workshop files)\
- [ ] Ensure that you are modifying the `DESCRIPTION` file and your package list accordingly so that **all** dependencies are documented
]

[2018-07-07 22:33] lwaldron commented on #36
[ - [ ] Please check the `_bookdown.yml` file for the status of your workshop\
- [ ] Make sure that you are using the appropriate file for your workshop (there should be **no duplicate** workshop files)\
- [ ] Ensure that you are modifying the `DESCRIPTION` file and your package list accordingly so that **all** dependencies are documented
 ]

[2018-07-07 22:34] lwaldron commented on #36
[- [ ] Please check the `_bookdown.yml` file for the status of your workshop\
- [ ] Make sure that you are using the appropriate file for your workshop (there should be **no duplicate** workshop files)\
- [ ] Ensure that you are modifying the `DESCRIPTION` file and your package list accordingly so that **all** dependencies are documented
 ]

[2018-07-07 22:35] lwaldron commented on #29
[- [ ] Please check the  file for the status of your workshop- [ ] Make sure that you are using the appropriate file for your workshop (there should be **no duplicate** workshop files)- [ ] Ensure that you are modifying the  file and your package list accordingly so that **all** dependencies are documented
 ]

[2018-07-07 22:36] lwaldron commented on #29
[- [ ] Please check the `_bookdown.yml` file for the status of your workshop\
- [ ] Make sure that you are using the appropriate file for your workshop (there should be **no duplicate** workshop files)\
- [ ] Ensure that you are modifying the `DESCRIPTION` file and your package list accordingly so that **all** dependencies are documented
 ]

[2018-07-07 22:38] lwaldron commented on #29
[- [ ] Please check the `_bookdown.yml` file for the status of your workshop
- [ ] Make sure that you are using the appropriate file for your workshop (there should be **no duplicate** workshop files)
- [ ] Ensure that you are modifying the `DESCRIPTION` file and your package list accordingly so that **all** dependencies are documented
 ]

[2018-07-07 22:39] lwaldron commented on #29
[- [ ] Please check the `_bookdown.yml` file for the status of your workshop
- [ ] Make sure that you are using the appropriate file for your workshop (there should be **no duplicate** workshop files)
- [ ] Ensure that you are modifying the `DESCRIPTION` file and your package list accordingly so that **all** dependencies are documented
 ]

[2018-07-07 22:42] lwaldron commented on #1
Current Travis error:

[code]

[2018-07-08 21:29] lwaldron commented on #34
Thanks @zhaleh-safikhani ! Quick note - you should remove lines like these:

[code]

and instead add all dependencies in the DESCRIPTION file: The GitHub ones in `Remotes:`, the Bioconductor/CRAN ones in `Imports:`. This will ensure the dependencies are available on the AMIs and machine where the book is built.

[2018-07-09 00:31] zhaleh-safikhani commented on #34
Done!
Thanks for the note @lwaldron.
I've added all the dependencies to DESCRIPTION already however I had forgotten to remove the installation lines from the document.

[2018-07-09 04:51] sa-lee commented on #31
I think the dplyr::filter shouldn't be a problem since plyranges exports the dplyr generics, I think the error in that chunk was due to me having a typo in primary_tcells object. I've fixed it now and it knits on my computer.

[2018-07-09 09:02] lwaldron commented on #34
Thanks @zhaleh-safikhani ! I'm getting the following error trying to build your workshop though:

[code]

[2018-07-09 09:57] lwaldron commented on #30
I've converted the vignette GenomicRangesIntroduction.Rnw to get some material in place here.

[2018-07-09 12:44] lwaldron commented on #1
@LiNk-NY , how can we get log files for the results of building each Rmd file? The script `_build.sh` shows errors on screen but even doing `./_build.sh > _build.log` does not create a useful log file. Ideally, we would get one log file per `.Rmd` file.

[2018-07-09 12:49] lwaldron commented on #26
@npcooley this line won't work for others to build:

[code]

Can you post your workshop data online somewhere to be accessed by `download.file` / `BiocFileCache`?

[2018-07-09 13:31] risserlin commented on #28
in order for the function to work Cytosacpe needs to be opened.  Should  I put all of cytoscape commands in if blocks?  (If I do that the notebook won't have any of the figures that are generated when the notebook can talk to cytoscape.

[2018-07-09 13:36] lwaldron commented on #28
What I suggest is to put `eval=FALSE` for this code block, but insert a screenshot of the figure in your workshop. That way students can run Cytoscape interactively, but we can still build the book showing what they should see.

[2018-07-09 14:01] zhaleh-safikhani commented on #34
@lwaldron usually that issue comes from incomplete/interrupted downloads. To make it work again you need to delete the PSet folder.

[2018-07-09 14:29] lwaldron commented on #24
[code]

[2018-07-09 14:30] lwaldron commented on #29
[code]

[2018-07-09 14:31] lwaldron commented on #36
[code]

[2018-07-09 14:32] lwaldron commented on #30
[code]

[2018-07-09 14:46] HenrikBengtsson commented on #22
That:
[code]
appears to come from princurve.  For troubleshooting purposes, see if it works with https://cran.r-project.org/src/contrib/Archive/princurve/princurve_1.1-12.tar.gz.

BTW, what timeline are you on here?  I can try to push for a CRAN update of princurve - they seem to be willing to make a new release quite soon.

[2018-07-09 15:08] lwaldron commented on #34
Seems to work @zhaleh-safikhani , thanks! One more thing, the "machine_learning" chunk takes a long time to run (it's been going 15 minutes for me and still working), so won't be practical for students to run. Can you use a limited feature set or something like this to speed it up?

[2018-07-09 15:35] lwaldron commented on #1
Actually I've commited a file `_buildindividual.sh` that seems to take care of the individual log files well enough.

[2018-07-09 16:06] LiNk-NY commented on #29
I think all workshop authors should be required to have a GitHub account and make modifications to their workshop even if it is through the GitHub website. This `Rmd` file requires runnable instructions for downloading gene-level count files from the web.

[2018-07-09 16:14] zhaleh-safikhani commented on #34
I agree @lwaldron. I try to shrink the problem as much as possible.

[2018-07-09 18:20] sa-lee commented on #31
@lwaldron I think my workshop is moslty complete now - let me know if there's anymore problems 😄

[2018-07-09 18:43] LiNk-NY commented on #22
Hi Henrik,
I get a different error:

[code]

[2018-07-09 18:49] kstreet13 commented on #22
Hey all,
The `project_to_curve` function was added in princurve version 2.0.2 (it was previously called `get.lam`), so I think updating that package may solve this issue.

[2018-07-09 18:49] LiNk-NY commented on #33
Hey Levi, @lwaldron
Is there something I left out of the workshop?
Thanks,
MR

[2018-07-09 18:56] LiNk-NY commented on #25
@Simon-Coetzee there is a formatting issue in your `Rmd` file. Please fix it. Thank you, MR.

[2018-07-09 19:12] LiNk-NY commented on #34
Could you create a workshop specific folder such as "Safikhani_Pharmacogenomics" instead of `PSets`? Thanks!

[2018-07-09 19:36] LiNk-NY commented on #31
It looks like  a certain section is taking a really long time in the builder. Can you cut this example down to a more portable size?

[code]

Thanks,
MR

[2018-07-09 19:43] sa-lee commented on #31
Is it lines 557-560 or lines 585 - 597 where I read in the BigWig files:
[code]
 I would've thought the resources from AnnotationHub would be cached on the build machine so getting them out wouldn't take so long?

[2018-07-09 19:45] lwaldron commented on #34
It's about ~500M of files, so they shouldn't be added to the GitHub repository:
[code]

[2018-07-09 19:52] lwaldron commented on #34
(But you could use `downloadPSet("CCLE", saveDir = file.path(".", "Safikhani_Pharmacogenomics") )` so participants will know the data come from your workshop.)

BTW I see another error now:

[code]

[2018-07-09 20:49] rcannood commented on #22
The problem with `aroma.light` has been fixed with princurve 2.0.4.

[2018-07-09 20:56] LiNk-NY commented on #31
I'm not sure how the build machines will be set up. Perhaps Lori @lshep can provide some input.
They are now cached in our server build. It looks like your workshop is running fine now. Thanks.

[2018-07-09 21:13] LiNk-NY commented on #29
Thanks Levi @lwaldron for picking up the slack.

[2018-07-09 21:17] sa-lee commented on #31
Great thanks! Let me know and I can change it to something that's a bit quicker.

[2018-07-09 21:17] LiNk-NY commented on #19
We don't need the devel version of `princurve`. The latest version should be good enough (`2.0.4`).

[2018-07-09 21:24] LiNk-NY commented on #22
Thanks!

[2018-07-09 21:29] sa-lee commented on #31
Also I've noticed that bookdown doesn't seem to render pdf images https://bioconductor.github.io/BiocWorkshops/fluent-genomic-data-analysis-with-plyranges.html#what-are-granges-objects

[2018-07-09 21:45] rcannood commented on #22
And the problem with `slingshot` is being caused by princurve 2.0.4. kstreet13/slingshot#19 should do the trick.

[2018-07-09 21:47] rcannood commented on #19
aroma.light should be fixed with the release of princurve 2.0.4 on CRAN; so you can remove dynverse/princurve from the Remotes.

[2018-07-09 22:16] lwaldron commented on #33
Yes @LiNk-NY , some suggestions - and I'll include as many as you can finish by Weds in the CSAMA workshop this Thursday. I can help out with it between now and then too.

* additional text in the captions to explain the SE, MAE, and RE figures
* use suppressPackageStartupMessages()
* section **Working with RaggedExperiment**: more introductory text to explain what it is, when and how you use RE

[2018-07-09 23:13] HenrikBengtsson commented on #22
I can confirm that **aroma.light** passes `R CMD check --as-cran` with the [princurve 2.0.4](https://cran.r-project.org/package=princurve) that just hit CRAN.  I've/Travis CI/AppVeyor CI verified on Linux and Windows with various R versions - as soon as macOS binaries are rolled out, I'd expect it to also work there too.  This means that aroma.light should build and pass all checks on Bioc release

[2018-07-09 23:14] HenrikBengtsson commented on #19
I can confirm that **aroma.light** passes `R CMD check --as-cran` with the [princurve 2.0.4](https://cran.r-project.org/package=princurve) that just hit CRAN.  I've/Travis CI/AppVeyor CI verified on Linux and Windows with various R versions - as soon as macOS binaries are rolled out, I'd expect it to also work there too.  This means that aroma.light should build and pass all checks on Bioc release

[2018-07-10 01:50] PeteHaitch commented on #24
Will fix this week (just off flight from US to Aus)

[2018-07-10 04:08] PeteHaitch commented on #12
Confirming this works (locally). Implemented in db5c813158e069474cca296ea226ca56a44a9056

[2018-07-10 04:09] PeteHaitch commented on #13
Confirming this works (locally). Implemented in db5c813158e069474cca296ea226ca56a44a9056

[2018-07-10 04:09] #13 closed

[2018-07-10 07:57] lwaldron commented on #34
Remove LaTeX code, workshop should be in pure Rmd. E.g.:

[code]

[2018-07-10 10:03] lwaldron commented on #1
The instructions in the README.md for rendering and viewing an individual chapter don't actually work for me, I get errors like this and only get a `.md` file as output. My workaround is to copy the Rmd file I'm editing to another directory for knitting. Should this be working @LiNk-NY ?

[code]

[2018-07-10 16:09] LiNk-NY commented on #1
Hi Levi, @lwaldron
I am not getting those errors. It seems like you may be trying to preview the chapter inside the
main repository folder. Did you create a symbolic link and put it in a `tmp` folder first?

The error that I get has to do with a missing `Waldron_PublicData.bib`.

[2018-07-10 16:31] LiNk-NY commented on #22
[code]

[2018-07-10 16:37] LiNk-NY commented on #31
Hi Stuart, @sa-lee
I know for sure that `png` and `svg` work.
Regards,
Marcel

[2018-07-10 17:04] rcannood commented on #22
kstreet/slingshot#19 was merged yesterday, but slingshot v 0.99.11 still needs to be published on Bioconductor. Once slingshot v 0.99.11 is out, this error should disappear :)

[2018-07-10 17:38] kstreet13 commented on #22
Yeah, I pushed the new version yesterday, so it should be available soon!

[2018-07-10 18:29] LiNk-NY commented on #33
Thanks Levi @lwaldron. I've modified your comment to create a checklist.

[2018-07-10 20:31] PeteHaitch commented on #1
The instructions in README also work for me.
I have the following:

[code]

[2018-07-11 03:46] risserlin commented on #28
I have added screenshots for all the cytoscape commands and disabled them with an eval.  I still want to add one last use case and polish it but hopefully it should compile now.

[2018-07-11 06:38] lwaldron commented on #33
Thanks @LiNk-NY, these are great improvements. Can you clarify this statement?

[] **Note**: Coercion to `SummarizedExperiment` is possible.

[2018-07-11 18:36] diyadas opened #37 "Please add me as a collaborator"

[2018-07-11 18:38] LiNk-NY commented on #37
added

[2018-07-11 18:38] #37 closed

[2018-07-11 18:53] jmacdon opened #38 "Please add me as a contributor"

[2018-07-11 19:21] LiNk-NY commented on #38
added

[2018-07-11 19:21] #38 closed

[2018-07-11 20:50] sa-lee opened #39 "Citations not displayed properly"
I noticed this on my workshop, and @mikelove's  and @drisso's workshops that references aren't being displayed properly.

For example:
https://bioconductor.github.io/BiocWorkshops/rna-seq-data-analysis-with-deseq2.html#preparing-data-for-deseq2
The citation key is being shown rather than author and year.

I thought I would've got around this by specifying a bibliography argument in the yaml at the

[2018-07-11 22:43] LiNk-NY commented on #39
Please add `.bib` files in the `index.Rmd` file as shown in the referenced commit. Thanks.

[2018-07-12 19:45] zhaleh-safikhani commented on #34
Thanks for the comments @lwaldron! I have updated the code to address them.
However, I do not get the error you mentioned on my machine.

[2018-07-14 21:50] lwaldron commented on #28
Make sure to pull or merge these changes before further editing. I am getting an error:
[code]

[2018-07-14 21:52] lwaldron commented on #26
[code]

[2018-07-15 17:04] seandavi commented on #36
see https://github.com/rstudio/bookdown-demo/issues/2.

[2018-07-16 15:22] LiNk-NY commented on #21
Hi Mike, @mikelove
This is an old build of the book.
We had some issues on our end with the build server.
I will be pushing up builds ASAP.

[2018-07-16 15:23] LiNk-NY commented on #39
Hi Stuart, @sa-lee
This is an old build of the book.
We had some issues on our end with the build server.
I will be pushing up builds ASAP.

[2018-07-16 16:18] risserlin commented on #28
I fixed the above error.

[2018-07-17 18:38] drisso commented on #22
Hi @LiNk-NY ,

can you confirm that the new version of slingshot solves the issue above? It works on my local machine with slingshot 0.99.12 and princurve 2.1.0, but not sure which versions you have for the build.

[2018-07-17 18:55] LiNk-NY commented on #22
Hi Davide, @drisso
The builder has these versions:
[code]
and it solves the issue. Thanks.

[2018-07-17 18:56] drisso commented on #22
Awesome! Thanks Marcel!

[2018-07-17 20:49] lwaldron commented on #39
Citations in both these workshops seem rendered correctly now. The server building the book was missing pandoc-citeproc (https://github.com/rstudio/bookdown-demo/issues/2).

[2018-07-17 21:41] mtmorgan opened #40 "100_Morgan_RBiocForAll"
This workshop is a little under the radar and wasn't listed as an issue or on the projects page, so I'm posting this to let the organizers know that the workshop is complete as a draft.

[2018-07-17 21:52] LiNk-NY commented on #28
Hi Ruth, @risserlin
Thanks for fixing that. I updated your workshop front matter by removing it.
Bookdown `Rmd` files work slightly differently than a regular `Rmd`.

[2018-07-18 16:02] LiNk-NY commented on #32
[code]

[2018-07-18 16:07] LiNk-NY commented on #22
Hi Diya, @diyadas
Could you please fix the citations in your workshop? I don't see any entries in the `.bib` file for:
[code]

[2018-07-18 16:20] lshep commented on #32
I just pulled down the entire BiocWorkshops and rendered and it is not showing any such error?

[2018-07-18 16:43] diyadas commented on #22
Will do! Have small formatting things I will also address. Thanks Marcel!

[2018-07-18 17:51] LiNk-NY commented on #32
I've re-installed `Organism.dplyr` but that does not fix the issue. @jmacdon

[2018-07-18 17:55] lshep commented on #32
I can't reproduce this locally -  when I pull this repo and do /home/lori/bin/R-3-5-branch/bin/Rscript -e "bookdown::render_book('index.Rmd', 'bookdown::gitbook')" locally it builds fine.

[2018-07-18 18:11] LiNk-NY commented on #32
I'll delete the cache folder and re-run. @lshep It would be good to disable the cache in those particular code chunks.

[2018-07-18 18:46] LiNk-NY commented on #32
It looks like that did the trick.

[2018-07-18 20:30] lawremi commented on #30
Working on it.

On Wed, Jul 18, 2018 at 1:24 PM, Marcel Ramos <notifications@github.com>
wrote:

[2018-07-19 13:54] risserlin commented on #28
I just realized that my references are not associated with my individual notebook but instead are at the end (in chapter 16).  The document was supposed to finalized yesterday.  Is it ok to check in my notebook again minus the "References" heading I have at the end of my notebook?

[2018-07-19 15:46] LiNk-NY commented on #34
BTW use markdown HTML headers instead of `\section{}` tags. The tags are not rendering as anything that markdown can recognize.
Example: `## Introduction`

[2018-07-19 15:50] LiNk-NY commented on #24
Hi Pete, @PeteHaitch
I'm not sure why this is coming up:
[code]
Could it have something to do with the cache? I'll delete and re-run.

[2018-07-19 15:52] lwaldron commented on #26
[code]

[2018-07-19 15:53] lwaldron commented on #30
[code]

[2018-07-19 15:54] lshep commented on #24
it is a caching issue but the r code chunk needs to have the cache=FALSE -   the cache=FALSE corrects this ERROR

[2018-07-19 15:57] lwaldron commented on #36
[code]

[2018-07-19 16:05] LiNk-NY commented on #24
Thanks Lori. I'll try this.

[2018-07-19 16:07] lwaldron commented on #36
@bhaibeka I think the PharmacoGx section should have less code and be more lightweight. Could you just download one smaller dataset and demonstrate what it contains? On the other hand, time is short - could I just cut the sections from *Comparing drug sensitivity datasets* onward?

[2018-07-19 16:19] npcooley commented on #26
Hi Levi,

That function was added to the github package last night. If the github
package is not update as of 14 hours ago, that function will not exist yet.

Sorry for the hassle!

Cheers,
Nick

On Thu, Jul 19, 2018 at 11:52 AM Levi Waldron <notifications@github.com>
wrote:

[2018-07-19 17:36] seandavi opened #41 "Parallel builds--idea for next year"
For next year, it would be useful to develop a parallel build strategy to use multicore where possible and minimize rebuilds when not needed. Knitr caching helps, but particularly when running in an environment where the underlying code and R are not changing, remaking `.md` from `.Rmd` is wasteful.

[2018-07-19 18:00] seandavi commented on #30
Should be fixed by 8323269.

[2018-07-19 18:02] LiNk-NY commented on #41
Thanks Sean @seandavi,
Ideally, we'd have a builder (based on a docker image) with a webhook that will rebuild the book (in parallel) when there's a new commit.
I agree with the remaking `.md` from `.Rmd` is wasteful.
`.md` is an intermediate file and perhaps, the wastefulness can be resolved via `markdown`.

[2018-07-19 18:03] seandavi commented on #24
The

[code]
 is fixed by f29aa79.

[2018-07-19 19:04] LiNk-NY commented on #26
Could you specify what package? There is also `clusterProfiler::GFFparser`.

[2018-07-19 19:09] LiNk-NY commented on #24
@seandavi Do we want to use `cache.lazy = TRUE` for all chunks? I can add it to our `_common.R` file.

[2018-07-19 19:09] npcooley commented on #26
Done, it now reads:

FindHomology::GFFparser

Cheers,
Nick

On Thu, Jul 19, 2018 at 3:04 PM, Marcel Ramos <notifications@github.com>
wrote:

[2018-07-19 19:20] npcooley commented on #26
My apologies, the "P" is capitalized...

FindHomology::GFFParser

On Thu, Jul 19, 2018 at 3:09 PM, Nicholas Cooley <npcooley@gmail.com> wrote:

[2018-07-19 19:47] seandavi commented on #24
I don't know the answer to that. I see that it is really just for very
large caches; there were only two workflows that showed this error and I
have corrected them.

On Thu, Jul 19, 2018 at 3:09 PM Marcel Ramos <notifications@github.com>
wrote:

--
Sean Davis, MD, PhD
Center for Cancer Research
National Cancer Institute
National Institutes of Health
Bethesda, MD 20892
https://seandavi.github.io/
h

[2018-07-19 19:49] LiNk-NY commented on #24
Thanks for that Sean

[2018-07-19 19:54] LiNk-NY commented on #30
I wasn't getting that issue but just in case, I've added it to the chunk.

[2018-07-19 20:03] lwaldron commented on #26
Since not all versions of npcooley/FindHomology will work, please bump its version number (e.g. to 0.0.0.9001) and change the "Remotes:" in the DESCRIPTION here to:

[code]

[2018-07-19 20:15] npcooley commented on #26
I've changed the version on both my package and in remotes. Is there more
to do with that?

On Thu, Jul 19, 2018 at 4:03 PM, Levi Waldron <notifications@github.com>
wrote:

[2018-07-19 20:20] seandavi commented on #26
I already updated the AMI (as of 2pm today), so the version from last night
should be installed.

Sean

On Thu, Jul 19, 2018 at 4:15 PM npcooley <notifications@github.com> wrote:

--
Sean Davis, MD, PhD
Center for Cancer Research
National Cancer Institute
National Institutes of Health
Bethesda, MD 20892
https://seandavi.github.io/
https://twitter.com/seandavis12

[2018-07-19 20:50] seandavi opened #42 "PDF of 500_Effectively_Using_the_DelayedArray_Framework.Rmd"
[code]
When building on the AMI.

[2018-07-19 21:03] seandavi commented on #36
I went ahead and shortened. Also, I think the duplicate labels are fixed.

[2018-07-19 21:17] #42 closed

[2018-07-19 21:33] lwaldron commented on #26
Builds without errors now! There should be a version in the bookdown soon that you @npcooley can check to make sure everything looks OK.

[2018-07-19 21:34] npcooley commented on #26
Great, thanks for your patience!

On Thu, Jul 19, 2018 at 5:33 PM, Levi Waldron <notifications@github.com>
wrote:

[2018-07-19 22:53] lwaldron commented on #26
Note you only have two top-level sections in your chapter, "Overview" and "Workshop goals and objectives". See the TOC at https://bioconductor.github.io/BiocWorkshops/.

[2018-07-19 22:56] lwaldron commented on #33
The API cheat sheet image does not make it into the bookdown @LiNk-NY

[2018-07-19 23:07] #25 closed

[2018-07-19 23:08] lawremi commented on #30
Best to ensure that these run independently, too, right?

[2018-07-20 02:18] npcooley commented on #26
That's ok, i don't think i want to make any more changes and mess anything
up. Thanks for all your help!

On Thu, Jul 19, 2018 at 6:53 PM, Levi Waldron <notifications@github.com>
wrote:

[2018-07-20 21:19] npcooley commented on #26
In the book version of this workshop, any code chunks that uses `plot()`, `pairs()`, or `hist()` those plots aren't appearing. It looks like the objects those functions are being used with do exist, is there something i need to change to make them appear?

Additionally, when some data is being loaded from `FindHomology`, the function is returning a warning, despite the object `data()` is loading b

[2018-07-20 22:01] seandavi commented on #36
Looks like the complete PharmacoGx section is back.  I had cleaned up and shortened yesterday. Was that by design? To be clear, I had removed everything from _Comparing drug sensitivity datasets_ onward. I'd like to remove those again, if that works for everyone?

[2018-07-20 22:15] seandavi commented on #36
I removed it and things appear to build. I'll checkin the changes in a few minutes.

[2018-07-21 17:34] lwaldron commented on #36
Thanks @seandavi. Sorry I was out of touch yesterday, but I'm back and reviewing the book this weekend... I'll take off the "problems" label again.

[2018-07-21 17:40] lwaldron commented on #26
R-generated images are missing, see https://bioconductor.github.io/BiocWorkshops/working-with-genomic-data-in-r-with-the-decipher-package.html

[2018-07-21 17:45] lwaldron commented on #36
[code]

[2018-07-21 17:57] lwaldron commented on #26
I think this was caused by spaces in chunk names - we'll see with the next build.

[2018-07-22 16:18] LiNk-NY commented on #36
I'm getting an error when building:
[code]

[2018-07-22 17:20] lwaldron commented on #36
I got this error too until I built on a cleanly checked out copy...

[2018-07-23 14:39] lshep commented on #36
SRAdb

or

seandavi/SRAdbV2

I rendered the book fresh this morning and it rendered fine.  Do these need updating outside the AMI id you gave me last night?

Lori Shepherd

Bioconductor Core Team

Roswell Park Cancer Institute

Department of Biostatistics & Bioinformatics

Elm & Carlton Streets

Buffalo, New York 14263

________________________________
From: Sean Davis <notifications@github.com>
S

[2018-07-23 15:52] seandavi commented on #36
The AMI has the correct versions--should be fine. And it is SRAdbV2 (not
yet in Bioc, I know).

On Mon, Jul 23, 2018 at 10:39 AM lshep <notifications@github.com> wrote:

--
Sean Davis, MD, PhD
Center for Cancer Research
National Cancer Institute
National Institutes of Health
Bethesda, MD 20892
https://seandavi.github.io/
https://twitter.com/seandavis12

[2018-07-24 13:25] seandavi opened #44 "Add Google Analytics tracking"
See here, for example:
https://benmarwick.github.io/bookdown-ort/mods.html#google-analytics

[2018-07-24 13:39] lwaldron opened #45 "Bookdown PDF"
Gives a 404:

https://bioconductor.github.io/BiocWorkshops/BioC2018.pdf

[2018-07-24 13:40] lwaldron commented on #45
Also the epub:

https://bioconductor.github.io/BiocWorkshops/BioC2018.epub

[2018-07-24 13:41] seandavi commented on #45
I have gotten the epub to build, but not the PDF. Perhaps remove the PDF link for now and just regenerate the epub?

[2018-07-25 13:34] diyadas commented on #22
I did fix the citation issue locally - but I'm unable to push commits. Any chance that someone could check the permissions I have? So sorry for the last-minute change.

[2018-07-25 13:52] lwaldron commented on #26
@LiNk-NY could you help figure out why figures in this workshop are not rendering?  E.g. see this [pairs()](https://github.com/Bioconductor/BiocWorkshops/blame/master/250_Cooley_DECIPHER.Rmd#L244) command in the source file, and the corresponding broken image symbol in the [book](https://bioconductor.github.io/BiocWorkshops/working-with-genomic-data-in-r-with-the-decipher-package.html) (see line `

[2018-07-25 14:44] seandavi commented on #26
It was spaces in the chunk names, I think. I just checked in 6304f3886 and things built successfully for me.

[2018-07-25 14:46] seandavi commented on #22
@diyadas, could you make a pull request with just that change? We have disabled commits on the repo for everyone, as the workflows are "live" now. Sorry for the inconvenience.

[2018-07-25 15:10] lwaldron commented on #26
Oh thanks Sean! I'd noticed the spaces problem and thought I'd fixed it, but I missed some others...

[2018-07-25 15:31] diyadas commented on #22
PR submitted, sorry if you got a lot of notifications as I had an interesting time with GitHub.

[2018-07-25 15:36] #44 closed

[2018-07-25 15:37] seandavi commented on #44
Thx, @LiNk-NY

[2018-07-25 15:38] #22 closed

[2018-07-25 16:07] risserlin opened #47 "RCy3 connection issues from amazon instance"
Rcy3 communicates with cytoscape using the localhost on the machine that is running Rstudio but the amazon instance is not able to access localhost calls.

I think that what is suggested in this post (https://stackoverflow.com/questions/43488046/cant-connect-to-localhost-apache-ubuntu) might work but I got permission denied error when I tried.

Can we enable ssh connection to the amazon instances

[2018-07-25 17:24] lwaldron commented on #26
Confirmed that the figures are all in place in the most recent gh-pages.

[2018-07-25 17:53] LiNk-NY commented on #47
cc: @lshep @seandavi

[2018-07-25 19:55] lwaldron commented on #47
@risserlin , the AMIs don't have Cytoscape installed. I should've said to use the DESCRIPTION `SystemRequirements` field to list system requirements, because it was too much to remember to install this in addition to the R packages. What I would suggest is 1) plan on demonstrating using your own laptop, and 2) we could make an announcement to people planning to attend your workshop and provide som

[2018-07-25 20:05] risserlin commented on #47
@lwaldron the AMIs don't need to have Cytoscape installed.  RStudio needs to communicate with the instance of cytoscape on the system of the person using it.  Even when we use docker instances with RCy3 when launching the docker we map the localhost on the docker to the host computer in the start up.  Just thought we could do the same using the AMI
I have posted my workshop as a zip file on our ft

[2018-07-25 21:19] seandavi commented on #47
The AMIs require passwordless ssh as they are set up and the users do not have the keys. Sorry--hadn't planned on this contingency. I think the idea of having users do stuff locally makes sense as long as downloads are VERY small; sharing a wifi connection can be a bit challenging.

[2018-07-26 00:19] sa-lee opened #48 "Publish book on bookdown.org?"
After the conference could also put the book on https://bookdown.org/? Might be a good way to promote Bioc to other R users.

[2018-07-26 00:59] mtmorgan commented on #47
I can download and install Cytoscape from the shell in RStudio with

[code]
Does that get me far enough to start cytoscape on the AMI (The AMI has Java
[code]

[2018-07-26 10:14] mtmorgan commented on #47
Is it enough to connect to any cytoscape? so maybe start a public cytoscape somewhere and set RCy3's default to point there? the outbound ports are open, and that should be enough for RCy3 to communicate.

[2018-07-26 11:57] lwaldron commented on #48
I like this idea.

[2018-07-26 14:47] mtmorgan commented on #47
The port 1234 is open, but I don't know how to start cytoscape locally; it wants X11 for display. Any hints @risserlin ?

[2018-07-26 15:06] risserlin commented on #47
@mtmorgan by locally do you mean on the AMI or on your machine?  I just tried the AMI and got the same error.  Cytoscape can not run headless.  Users need to run Cytoscape on their machines and the R instance sends commands to cytoscape (through localhost:1234) to create and manipulate networks.

[2018-07-26 15:42] lshep commented on #47
@risserlin   it looks like the best bet is probably as you suggested have them download cytoscape 3.6 and the provided zip.   Since your workshop was scheduled for 4-5  would you be okay with announcing that participants can come early (maybe 3:15/3:30)  for instruction on downloading and installing?  We want to give extra time since it may be a little slower over the wifi

[2018-07-26 15:50] risserlin commented on #47
@lshep sure. I can start at 3:15 and help people get set up.
Maybe we can post the download instructions somewhere so people can try download everything over lunch if they want as well.
For the workshop users need to download and install cytoscape 3.6.1 from http://cytoscape.org/download.php.
Workshop files can be downloaded from: http://download.baderlab.org/Bioc2018/

[2018-07-26 16:04] seandavi commented on #47
Thanks, @risserlin, for your flexibility, and @lshep for working on this. I'll try to get a few people to stop by to help with setup.

[2018-07-27 15:07] lwaldron commented on #45
@mikelove do you know something about getting a PDF from bookdown?

[2018-07-27 15:14] mikelove commented on #45
hmm, haven't done bookdown yet. for the genomicsclass we used pandoc

[2018-07-27 15:14] lwaldron commented on #48
Although I am also kind of interested in https://leanpub.com, and providing the option of making a donation to the Bioconductor Foundation.

[2018-07-27 15:16] sa-lee commented on #48
I think you could do both. For example, Roger Peng's book is both on bookdown and leanpub.

[2018-07-27 15:17] sa-lee commented on #45
what's the error for rendering to PDF?

[2018-07-27 15:32] seandavi opened #49 "Licensing of all material"
I don't think we have an agreed-upon license. Having such a thing in place and having contributor signoff for that license is probably worth doing after the dust settles from the conference.

[2018-07-30 16:50] LiNk-NY commented on #45
I've gone ahead and fixed the issues. You should be able to download the pdf version of the workshops.

[2018-07-30 16:51] #45 closed

[2018-07-30 16:51] LiNk-NY commented on #48
At least we have both formats available: PDF and EPUB. :+1:

[2018-07-30 16:54] LiNk-NY commented on #12
Note: PNGs are preferred especially when building the PDF version of the book.

[2018-07-30 16:54] #12 closed

[2018-07-30 16:56] #40 closed

[2018-07-30 16:57] #36 closed

[2018-07-30 16:57] #21 closed

[2018-07-30 16:57] #24 closed

[2018-07-30 16:57] #26 closed

[2018-07-30 16:57] #27 closed

[2018-07-30 16:58] #28 closed

[2018-07-30 16:58] #30 closed

[2018-07-30 16:58] #31 closed

[2018-07-30 16:59] LiNk-NY commented on #31
Note: `svg` won't render _easily_ in PDF format.

[2018-07-30 16:59] #32 closed

[2018-07-30 16:59] LiNk-NY commented on #33
I fixed this. Thanks.

[2018-07-30 16:59] #33 closed

[2018-07-30 16:59] #34 closed

[2018-07-30 17:00] #29 closed

[2018-07-30 17:00] #35 closed

[2018-07-30 17:02] LiNk-NY commented on #1
CI seems like a no-go ATM. I'm closing the issue.

[2018-07-30 17:02] #1 closed

[2018-07-30 17:02] LiNk-NY commented on #5
This seems to have been resolved. Closing the issue.

[2018-07-30 17:02] #5 closed

[2018-07-30 17:04] #16 closed

[2018-07-30 17:04] #39 closed

[2018-07-30 21:50] lwaldron opened #50 "Instructions for using the materials"
@seandavi @lshep can you update the [index.Rmd](https://github.com/Bioconductor/BiocWorkshops/blame/master/index.Rmd#L102) file where I put in your names with instructions for setting yourself up to use the materials?

[2018-07-31 04:08] seandavi commented on #50
I'll do that. @lshep, can you make sure that the AMI is public and drop the name here?

[2018-07-31 11:00] lshep commented on #50
It is public: Bioc2018_ConferenceAMI   ami-74d3d00b

[2018-07-31 11:07] mtmorgan opened #51 "Using a single chapter?"
How can I use a single chapter, e.g., the 100 series introduction? By 'use' I mean both tell my audience 'do XXX' (git clone would be acceptable, but not cloning the whole book) and also for me tweaking the material for a particular presentation (e.g., removing the intro to R section of the 100 workshop).

My hack was to copy the file & supporting material to a new git repository, but of course no

[2018-07-31 18:00] LiNk-NY commented on #51
Hi Martin, @mtmorgan
It's hard to do anything without cloning _the entire repo_ first. If your users will only need the `Rmd`
file the best bet is to just download the file from the GitHub website. Note that these `Rmd` files don't
work very well as standalone files because they're part of the book so you'd have to include a number
of additional files to build the book or provide the `yaml` front

[2018-08-07 01:12] lwaldron commented on #49
Of the Creative Commons licenses:

https://creativecommons.org/licenses/

I think the following one is appropriate, for maximum permissiveness while requiring attribution to the original authors. At least some of the material (RNAseq 123, https://f1000research.com/articles/5-1408/v1) is already published under this license.

Attribution
CC BY

This license lets others distribute, remix, tweak, and

[2018-08-19 04:14] lwaldron opened #52 "text and figures run off page in PDF version"
e.g. see page 48 (Annotation lab, R output), 242/243/245/249/251 (Cytoscape lab, imported graphics)

[2018-08-19 04:28] lwaldron opened #53 "error in epub version"
On page 427, before start of functional enrichment chapter:

[code]

[2018-08-19 04:31] lwaldron commented on #53
Also in functional enrichment chapter, all content from section "A primer on terminology, existing methods & statistical theory" is missing in epub version (but not in pdf or html versions).

[2018-08-19 04:33] lwaldron commented on #52
These also look fine in the epub version.

[2018-08-19 04:37] lwaldron commented on #53
drug sensitivity plots start at top of page and go upwards, on page 774.

[2018-08-22 13:10] seandavi commented on #53
Weird!

[2018-08-22 13:14] seandavi opened #54 "In future, consider using git submodules for chapters"
To make things more modular, we might consider using git submodules for individual chapters for a next iteration. Doing so might require a slightly more complex build process, but since we are building each chapter independently, it might actually lead to more robust builds.

[2018-08-22 13:16] seandavi opened #55 "Anyone averse to adding a zenodo DOI for the repository?"
Just a thought.

[2018-08-22 13:19] seandavi opened #56 "Update process"
It looks like the "isa" package is not available and has been archived on CRAN. That breaks our ability to build the workshop materials at this point. Any suggestions on a reasonable process to fix issues going forward?

[2018-08-22 14:08] mtmorgan commented on #56
Interesting. It seems like there are two strategies. Create an archive of packages at the time of the conference (packrat, etc; docker; the AMI), and always use those. This is great for reproducibility but misguides the user about what they can expect in their own installation. Or let bit-rot set in, and then it would be good to have an automatic way to flag chapters as no-longer-functional.

Expe

[2018-08-22 14:29] lawremi commented on #56
I agree with Martin.

We can't be expected to maintain every workshop presented at the conference. Probably best to separate the workshops into tiers, with some kept up and others persisting only in the preserved environment. We'll need to maintain the recurring workshops anyway.

[2018-08-22 14:55] seandavi commented on #56
I think we might want to consider something like #54 to enhance modularity and make it easier to have individual authors troubleshoot. This may move us away from vanilla gitbook, but the benefits of separating content from process (of compiling materials) may make it worth something.

I guess it is obvious, but without some continuous integration, including chapter-level checking, of some kind, th

[2018-08-22 14:58] seandavi opened #57 "Move to docker for portability--for next iteration"
We should probably move away from AMI and toward Docker to enhance portability and reusability.

[2018-08-22 16:10] seandavi opened #58 "`isa` package is no longer available"
Workshop materials are no longer installable. Looks like a change to isa2 will supply similar functionality.

[2018-09-11 18:20] lwaldron commented on #49
@mikelove @seandavi @lawremi @bhaibeka @PeteHaitch @vobencha @nturaga @risserlin @LiNk-NY @lgeistlinger @diyadas @drisso @dvantwisk @hpages @jmacdon @kstreet13 @lawremi @Liubuntu @lshep @mikelove @mtmorgan @npcooley @nturaga @risserlin @sa-lee @vobencha @zhaleh-safikhani :

I am proposing the following:

1. that the materials be published on Leanpub with an optional suggested donation of $40 to th

[2018-09-11 18:34] #48 closed

[2018-09-11 19:32] omsai commented on #49
CC BY is nice because that's what the [Carpentries](https://carpentries.org/) for their lesson material and makes remixing e.g. a Data Carpentry lesson easy.

[2018-09-12 00:31] seandavi opened #59 "Figures too large in pdf"
This issue is the figure half of issue #52.

[2018-09-12 00:32] seandavi opened #60 "Text runs off page in pdf"
This is the text output half of #52.

[2018-09-12 00:33] seandavi commented on #52
Will close this and refer to #59 and #60 since text and images are two separate issues requiring separate solutions.

[2018-09-12 00:33] #52 closed

[2018-09-12 00:34] #59 closed

[2018-09-12 00:36] seandavi commented on #59
Just a note that the yaml version of this did not work, so I included the chunk set like so:

[code]

[2018-09-12 16:50] seandavi opened #61 "Small manuscript describing process of developing workshop materials and book"
Hi, all.

@mikelove @lwaldron @lawremi @bhaibeka @PeteHaitch @vobencha @nturaga @risserlin @LiNk-NY @lgeistlinger @diyadas @drisso @dvantwisk @hpages @jmacdon @kstreet13 @lawremi @Liubuntu @lshep @mikelove @mtmorgan @npcooley @nturaga @risserlin @sa-lee @vobencha @zhaleh-safikhani

A few of us have drafted a small manuscript that describes the process in some detail that we used this year for prod

[2018-09-13 19:43] diyadas commented on #49
Given the amount of work that went into these workshops, I am against CC0, which doesn't require attribution. I don't mind if anyone remixes it, but I'd prefer they do it with attribution.

[2018-10-01 14:04] mtmorgan commented on #49
Sounds like there is agreement to use CC BY licensing. Should that be implemented, i.e., added to the workshop material?

[2018-10-01 17:02] lwaldron commented on #49
CC BY added to README.md and index.Rmd.

[2018-10-01 17:02] #49 closed

[2019-05-02 22:34] #47 closed

[2019-05-02 22:34] #61 closed

[2019-05-02 22:36] lwaldron commented on #58
Will close unless there is a need to rebuild the 2018 version. In future versions I think installability will only be guaranteed by using a specific container image.

[2019-05-02 22:36] #58 closed

[2019-05-02 22:36] lwaldron commented on #60
Leaving this open as a reminder that we should include epub and pdf versions in testing instructions given to authors, so they can check all three versions of their chapter.

[2019-05-02 22:37] lwaldron commented on #53
Closing this since we will not publish epub and pdf versions of the 2018 book. But we need to empower authors to check all three versions of their chapter when developing.

[2019-05-02 22:37] #53 closed

[2019-05-02 22:38] lwaldron commented on #8
Will keep this open until added to instructions for this years' authors.

[2019-05-02 22:56] lwaldron opened #65 "Workflow for Multi-omics Analysis with MultiAssayExperiment and curatedTCGAData"

[2019-05-03 03:20] vjcitn opened #66 "Cloud-scale genomic data science with Bioconductor"
@vjcitn

[2019-05-21 20:04] Liubuntu opened #67 "Lazy representation of very large genomic resources in R/Bioconductor"
request collaborator for workshop:
@Liubuntu @hpages

[2019-05-22 13:15] lwaldron commented on #67
Done, although note we’re not using this repo any more (see Bioconductor/BiocWorkshops2019).

[2019-05-22 13:15] #67 closed, assigned to nobody